.nav-bar {
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  
}

.iconimage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

.tagline {
  color: white;
  margin-right: 250px;
  margin-left: 5px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 20px;
}

.nav-bar a:hover {
  background-color: #333;
  color: yellow;
}




  